
hidden = [".config", "bun.lockb"]
modules = ["bun-1.1:v1-20240401-269b323", "nodejs-20:v8-20230920-bd784b9"]
run = "npm run test"

[nix]
channel = "stable-23_11"

[deployment]
run = ["sh", "-c", "npm run start"]
deploymentTarget = "cloudrun"
